<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

    <meta property="og:title" content="<%= app.name %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= url() %>" />
    <meta property="og:image" content="<%= url('/logo.png') %>" />
    <meta property="og:site_name" content="If I Die Today" />
    <meta property="og:description" content="A Project inspired by Post Mortem, a collaborative initiative by FRONTLINE, ProPublica and NPR on Death Investigation in America." />
    <meta property="fb:app_id" content="<%= app.id %>" />

    <link rel="stylesheet" href="/stylesheets/root.css">
    <link rel="stylesheet" href="/stylesheets/module.css">

    <title>If I Die Today</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/scripts/states.js"></script>
  </head>

  <body>
    <div id="fb-root"></div>
    <script type="text/javascript">

      window.fbAsyncInit = function() {
        FB.init({
          appId      : '<%= app.id %>', // App ID
          channelUrl : '<%= url_no_scheme('/channel.html') %>', // Channel File
          status     : true, // check login status
          cookie     : true, // enable cookies to allow the server to access the session
          xfbml      : true // parse XFBML
        });

        // Listen to the auth.login which will be called when the user logs in
        // using the Login button
        FB.Event.subscribe('auth.login', function(response) {
          // We want to reload the page now so PHP can read the cookie that the
          // Javascript SDK sat. But we don't want to use
          // window.location.reload() because if this is in a canvas there was a
          // post made to this page and a reload will trigger a message to the
          // user asking if they want to send data again.
          window.location = window.location;
        });

        FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <% if (!user) { %>
        <div id="modules" data-page="1">
          <section>
            <h1>IF I DIE TODAY </h1>
            <h2>Will anyone really know what happened?</h2>
            <div class="fb-login-button" data-scope="user_likes,user_photos,user_photo_video_tags,user_birthday,user_location,friends_location"></div>
            <p>A project inspired by Post Mortem, a collaborative reporting initiative from FRONTLINE, ProPublica and NPR. Developed by PRX.</p>
          </section>
      </div>
    <% } else { %>
        <% if ((user.location && user.location.name) || (cookies.location && cookies.location != '')) { %>
            <div>
              <div id="layers">
                <div id="backgrounds" data-page="1">
                  <img>
                  <img>
                  <img>
                </div>

                <div id="modules" data-page="1">
                  <div id="controls">
                    <a href="#previous">Previous</a>
                    <a href="#next">Next</a>
                  </div>

                  <section>
                    <h1>You are one of the 2.5 million people who died in the U.S. this year.</h1>
                    <h2><%= user.name %> <%= user.birthday %> - 1/1/2020</h2>
                    <p>What happened?</p>
                  </section>

                  <section>
                    <h1>Death Certificat</h1>
                    <h2>You died on 1/1/2020 in <%= user.location.name %></h2>
                    <h2>This is how:</h2>
                    <ul id='causeOfDeath'>
                        <li>Drowning</li>
                        <li>Skull fracture</li>
                        <li>Internal injuries</li>
                        <li>Stroke</li>
                        <li>Drug overdose</li>
                    </ul>

                    <script>
                    $(function() {
                        var len = $('#causeOfDeath').children().length;
                        var cause = Math.floor((Math.random()*len)+1);
                        $('#causeOfDeath li:nth-child('+cause+')').css('color', 'red');
                    });
                    </script>

                    <h2>Your death is ruled:</h2>
                    <ul id="meansOfDeath">
                        <li>Accident</li>
                        <li>Homicide</li>
                        <li>Suicide</li>
                        <li>Natural</li>
                        <li>Undetermined</li>
                        <li>Pending</li>
                    </ul>

                    <script>
                    $(function() {
                        var len = $('#meansOfDeath').children().length;
                        var cause = Math.floor((Math.random()*len)+1);
                        $('#meansOfDeath li:nth-child('+cause+')').css('color', 'red');
                    });
                    </script>

                    <h3>Signed by: Cory Smith, Registered plumber</h3>

                    <h1>Case closed....?</h1>
                  </section>

                  <section>
                    <h1>America’s death investigation system is dysfunctional, with few standards, little oversight and mistakes that are literally buried.</h1>
                    <% req.filteredFriends.forEach(function(friend) { %>
                        <div>
                            <img src="https://graph.facebook.com/<%= friend.id %>/picture?type=square" alt="<%= friend.name %>">
                            <h1><%= friend.name %></h1>
                            <h2>In <%= friend.location.name %> nullam quis risus eget urna mollis ornare vel eu leo.</h2>
                        </div>
                    <% }); %>
                  </section>

                  <section>
                    <h1>Messed up facts about death investigations</h1>
                        <div>
                            <h1>Dapibus Ridiculus Aenean Condimentum Cras</h1>
                            <p>Sed posuere consectetur est at lobortis.</p>
                            <a href="#">Share this story</a>
                        </div>
                        <div>
                            <h1>Dapibus Ridiculus Aenean Condimentum Cras</h1>
                            <p>Sed posuere consectetur est at lobortis.</p>
                            <a href="#">Share this story</a>
                        </div>
                        <div>
                            <h1>Dapibus Ridiculus Aenean Condimentum Cras</h1>
                            <p>Sed posuere consectetur est at lobortis.</p>
                            <a href="#">Share this story</a>
                        </div>
                  </section>

                  <section>
                      <h1>Watch</h1>
                      <h1>Share</h1>
                      <h1>Discuss</h1>
                  </section>
                </div>
              </div>
            </div>
        <% } else { %>
        <% } %>
    <% } %>

    <script src="/scripts/jquery.cookie.js"></script>

    <script src="/scripts/underscore-min.js"></script>

    <script src="/scripts/date.js/1.0-alpha1.js"></script>

    <script src="/scripts/application.js"></script>

<!--    <script src="http://use.typekit.com/kih0iop.js"></script> -->
    <script>try{Typekit.load();}catch(e){}</script>
  </body>
</html>